ASPNETCORE_ENVIRONMENT=poner_ambiente

DB_USER=usuario_aqui
DB_PASSWORD=contrasena_aqui
DB_NAME=el_nombre_aqui
DB_PORT=5432

MINIO_ROOT_USER=el_nombre_aqui
MINIO_ROOT_PASSWORD=contrasena_aqui


# VARIABLES PARA .NET
ConnectionStrings__PostgresConnection=TuCadenadeconexion

# JWT
JwtSettings__Secret=Tuclavesecreta

# MinIO
StorageSettings__S3__AccessKey=tu_usuario
StorageSettings__S3__SecretKey=tu_contrasena

VITE_API_URL=http://localhost:example
VITE_GOOGLE_CLIENT_ID=tu_client_id