DB_USER=usuario_aqui
DB_PASSWORD=contrasena_aqui
DB_NAME=biblioteca_db
DB_PORT=5432

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadminpassword


# VARIABLES PARA .NET
ConnectionStrings__PostgresConnection=TuCadenadeconexion

# JWT
JwtSettings__Secret=Tuclavesecreta

# MinIO
StorageSettings__S3__AccessKey=tu_usuario
StorageSettings__S3__SecretKey=tu_contrasena